/* VARIABLES PRIMARY */
/* DARK THEME */
/* LIGHT THEME */
/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 4rem 0rem;
  padding: 0 2.5rem;
  background-color: #1e202a;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* HEADING BACKGROUND */
.heading-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 24rem;
  background-color: #1f212e;
  z-index: -1;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* SECTION */
.wrapper {
  max-width: 111rem;
  margin: auto;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  margin-bottom: 4rem;
}

.heading__primary--title {
  text-transform: capitalize;
  font-size: 2rem;
}

.heading__primary--text {
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(139, 151, 198, 0.3);
  padding: 0.5rem 0 2rem;
}

.heading__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__secondary--text {
  font-size: 1.2rem;
}

.theme-switch-input {
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  opacity: 0;
}

.theme-switch-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 2.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
  border-radius: 100vmax;
  opacity: 0.8;
  cursor: pointer;
}

.theme-switch-switcher {
  position: absolute;
  top: 0.225rem;
  left: 0.3rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #1e202a;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.theme-switch-input:checked + .theme-switch-label .theme-switch-switcher {
  -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
}

/* SOCIAL MEDIA STATISTIC BIG CARDS */
.general-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  margin-bottom: 4.5rem;
}

.stats-card {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 25.5rem;
      flex-basis: 25.5rem;
  width: 100%;
  max-width: 33rem;
  height: 22rem;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.stats-card__gradient {
  width: 100%;
  height: 0.4rem;
  background-color: #198ff5;
}

.stats-card__media-name {
  font-weight: 700;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin: 2.5rem;
}

.stats-card__number {
  font-weight: 700;
  font-size: 5.6rem;
}

.stats-card__number-info {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
}

.stats-card__growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin: 2.5rem;
}

.stats-card__growth--today {
  font-weight: 700;
  font-size: 1.2rem;
  color: #1db489;
}

.stats-card:nth-of-type(3) .stats-card__gradient {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

.stats-card:nth-of-type(4) .stats-card__gradient {
  background-color: red;
}

.stats-card:nth-of-type(4) .stats-card__growth .stats-card__growth--today {
  color: #dc414c;
}

/* OVERVIEW WEBSITE SECTION */
.overview {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.overview__heading {
  width: 100%;
  -ms-grid-column-align: start;
      justify-self: start;
  text-transform: capitalize;
  font-size: 2rem;
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.overview-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 25.5rem;
      flex-basis: 25.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  max-width: 33rem;
  height: 13rem;
  border-radius: 0.5rem;
  padding: 2.5rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

.overview-card__stats {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.overview-card__stats--number {
  font-size: 2.7rem;
}

.overview-card__media {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.overview-card__media--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
}

.overview-card:nth-of-type(2) .overview-card__media .overview-card__media--bottom,
.overview-card:nth-of-type(7) .overview-card__media .overview-card__media--bottom,
.overview-card:nth-of-type(8) .overview-card__media .overview-card__media--bottom {
  color: #dc414c;
}

footer {
  text-align: center;
  color: #8b97c6;
}

footer a {
  color: #dc414c;
}

/* HOVERS */
.theme-switch-label:hover {
  opacity: 1;
}

.theme-switch-label.white:hover {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.card:hover {
  background-color: #374062;
}

.card.white:hover {
  background-color: #e1e3ea;
}

/* DARK MODE */
.general-text {
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.secondary-text {
  color: #8b97c6;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.card {
  background-color: #252a41;
}

/* WHITE MODE */
body.white {
  background-color: white;
}

.general-text.white {
  color: #1e202a;
}

.secondary-text.white {
  color: #63687e;
}

.heading-bg.white {
  background-color: #f5f7ff;
}

.theme-switch-label.white {
  background: #63687e;
}

.theme-switch-switcher.white {
  background-color: white;
}

.card.white {
  background-color: #f0f2fa;
}

.overview__heading.white {
  color: #63687e;
}

/* MEDIA QUERIES */
@media (min-width: 575px) {
  .overview {
    gap: 3rem;
  }
}

@media (min-width: 600px) {
  .general-stats {
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .heading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heading__primary--text {
    border-bottom: 0;
    padding: 0.5rem 0 0rem;
  }
  .heading__secondary {
    gap: 1.5rem;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .heading__primary--title {
    font-size: 2.4rem;
  }
  .overview__heading {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */