/* VARIABLES PRIMARY */
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram-linear: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

/* DARK THEME */
$toggle-dark: hsl(210, 78%, 56%), hsl(146, 68%, 55%);
$very-dark-blue-BG: hsl(230, 17%, 14%);
$very-dark-blue-top-BG-pattern: hsl(232, 19%, 15%);
$dark-desaturated-blue-card-BG: hsl(228, 28%, 20%);
$dark-desaturated-blue-card-BG-hover: hsl(228, 28%, 30%);
$desaturated-blue-text: hsl(228, 34%, 66%);
$desaturated-blue-text2: rgba(139, 151, 198, 0.3);
$white-text: hsl(0, 0%, 100%);

/* LIGHT THEME */
$white-BG: hsl(0, 0%, 100%);
$very-pale-blue-top-BG-pattern: hsl(225, 100%, 98%);
$light-grayish-blue-card-BG: hsl(227, 47%, 96%);
$light-grayish-blue-card-BG-hover: hsl(225, 16%, 90%);
$dark-grayish-blue-text: hsl(228, 12%, 44%);
$very-dark-blue-text: hsl(230, 17%, 14%);

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 4rem 0rem;
	padding: 0 2.5rem;
	background-color: $very-dark-blue-BG;
	transition: background-color 0.5s;
}

/* HEADING BACKGROUND */

.heading-bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 24rem;
	background-color: $very-dark-blue-top-BG-pattern;
	z-index: -1;
	transition: background-color 0.5s;
}

/* SECTION */

.wrapper {
	// section class, used just to set max width and center horizontally all content
	max-width: 111rem;
	margin: auto;
}

.heading {
	//social media section with theme switcher
	display: flex;
	flex-direction: column;
	font-weight: 700;
	margin-bottom: 4rem;

	&__primary {
		&--title {
			text-transform: capitalize;
			font-size: 2rem;
		}

		&--text {
			font-size: 1.2rem;
			border-bottom: 1px solid $desaturated-blue-text2;
			padding: 0.5rem 0 2rem;
		}
	}

	&__secondary {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5rem;
		align-items: center;

		&--text {
			font-size: 1.2rem;
		}
	}
}

.theme-switch-input {
	// theme switch input
	position: absolute;
	width: 5rem;
	height: 2.5rem;
	opacity: 0;
}

.theme-switch-label {
	// switch background label for theme switcher
	position: relative;
	display: flex;
	width: 5rem;
	height: 2.5rem;
	background: linear-gradient(90deg, $toggle-dark);
	border-radius: 100vmax;
	opacity: 0.8;
	cursor: pointer;
}

.theme-switch-switcher {
	// "ball" shape knob to switch theme
	position: absolute;
	top: 0.225rem;
	left: 0.3rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	background-color: $very-dark-blue-BG;
	transition: transform 0.2s;
}

.theme-switch-input:checked + .theme-switch-label .theme-switch-switcher {
	// animation of "ball" shape knob
	transform: translateX(2.4rem);
}

/* SOCIAL MEDIA STATISTIC BIG CARDS */

.general-stats {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 2.5rem;
	margin-bottom: 4.5rem;
}

.stats-card {
	// styling area for one of my cards
	position: relative;
	flex-grow: 1;
	flex-basis: 25.5rem;
	width: 100%;
	max-width: 33rem;
	height: 22rem;
	border-radius: 0.5rem;
	text-align: center;
	overflow: hidden;
	transition: background-color 0.5s;
	cursor: pointer;

	&__gradient {
		width: 100%;
		height: 0.4rem;
		background-color: $facebook;
	}

	&__media-name {
		font-weight: 700;
		font-size: 1.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		margin: 2.5rem;
	}

	&__number {
		font-weight: 700;
		font-size: 5.6rem;
	}

	&__number-info {
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: 0.5rem;
	}

	&__growth {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		margin: 2.5rem;

		&--today {
			font-weight: 700;
			font-size: 1.2rem;
			color: $lime-green;
		}
	}
}

.stats-card:nth-of-type(3) .stats-card__gradient {
	background: linear-gradient(90deg, $instagram-linear);
}

.stats-card:nth-of-type(4) .stats-card__gradient {
	background-color: red;
}

.stats-card:nth-of-type(4) .stats-card__growth .stats-card__growth--today {
	color: $bright-red;
}

/* OVERVIEW WEBSITE SECTION */

.overview {
	font-weight: 700;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 1.5rem;
	margin-bottom: 4rem;

	&__heading {
		width: 100%;
		justify-self: start;
		text-transform: capitalize;
		font-size: 2rem;
		color: $white-text;
		transition: color 0.5s;
	}
}

.overview-card {
	// styling area for one of my cards
	flex-grow: 1;
	flex-basis: 25.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	width: 100%;
	max-width: 33rem;
	height: 13rem;
	border-radius: 0.5rem;
	padding: 2.5rem;
	transition: background-color 0.5s;
	cursor: pointer;

	&__stats {
		grid-area: 1 / 1 / 2 / 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 1.2rem;

		&--number {
			font-size: 2.7rem;
		}
	}

	&__media {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;

		&--bottom {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			align-items: center;
			color: $lime-green;
		}
	}
}

.overview-card:nth-of-type(2) .overview-card__media .overview-card__media--bottom,
.overview-card:nth-of-type(7) .overview-card__media .overview-card__media--bottom,
.overview-card:nth-of-type(8) .overview-card__media .overview-card__media--bottom {
	color: $bright-red;
}

footer {
	text-align: center;
	color: $desaturated-blue-text;

	a {
		color: $bright-red;
	}
}

/* HOVERS */

.theme-switch-label:hover {
	opacity: 1;
}

.theme-switch-label.white:hover {
	background: linear-gradient(90deg, $toggle-dark);
}

.card:hover {
	background-color: $dark-desaturated-blue-card-BG-hover;
}

.card.white:hover {
	background-color: $light-grayish-blue-card-BG-hover;
}

/* DARK MODE */

.general-text {
	color: $white-text;
	transition: color 0.5s;
}

.secondary-text {
	color: $desaturated-blue-text;
	transition: color 0.5s;
}

.card {
	background-color: $dark-desaturated-blue-card-BG;
}

/* WHITE MODE */

body.white {
	background-color: $white-BG;
}

.general-text.white {
	color: $very-dark-blue-text;
}

.secondary-text.white {
	color: $dark-grayish-blue-text;
}

.heading-bg.white {
	background-color: $very-pale-blue-top-BG-pattern;
}

.theme-switch-label.white {
	background: $dark-grayish-blue-text;
}

.theme-switch-switcher.white {
	background-color: $white-BG;
}

.card.white {
	background-color: $light-grayish-blue-card-BG;
}

.overview__heading.white {
	color: $dark-grayish-blue-text;
}

/* MEDIA QUERIES */

@media (min-width: 575px) {
	.overview {
		gap: 3rem;
	}
}

@media (min-width: 600px) {
	.general-stats {
		gap: 3rem;
	}
}

@media (min-width: 768px) {
	.heading {
		flex-direction: row;
		justify-content: space-between;

		&__primary {
			&--text {
				border-bottom: 0;
				padding: 0.5rem 0 0rem;
			}
		}

		&__secondary {
			gap: 1.5rem;
			margin-top: 0;
		}
	}
}

@media (min-width: 992px) {
	.heading {
		&__primary {
			&--title {
				font-size: 2.4rem;
			}
		}
	}

	.overview {
		&__heading {
			font-size: 2.2rem;
		}
	}
}
